# ignore files containing interim metadata, cache dirs and checkpoints
*.bin
*.csv
*.nc
*.netcdf
*.npy
*.idx
*.idx2
*.out
*.pkl
*.txt
*.log
*.nfs*
*.code-workspace
**/.ipynb_checkpoints
**/__pycache__
**/.DS_Store
**/.vscode
